#include <zephyr/dt-bindings/interrupt-controller/renesas-ra-icu.h>

/ {
	chosen {
		zephyr,console = &rtt0;
        };

	rtt0: rtt_chan0 {
		compatible = "segger,rtt-uart";
		status = "okay";
	};

	soc {
		buttons {
			compatible = "gpio-keys";

			button0: button_0 {
				gpios = <&ioport0 5 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
			};
			button1: button_1 {
				gpios = <&ioport0 6 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
			};
		};
	};
};


&ioport0 {
	status = "okay";
        interrupts = <RA_ICU_IRQ_UNSPECIFIED 0 RA_ICU_PORT_IRQ6>,
		     <RA_ICU_IRQ_UNSPECIFIED 0 RA_ICU_PORT_IRQ7>,
		     <RA_ICU_IRQ_UNSPECIFIED 0 RA_ICU_PORT_IRQ8>,
		     <RA_ICU_IRQ_UNSPECIFIED 0 RA_ICU_PORT_IRQ9>,
		     <RA_ICU_IRQ_UNSPECIFIED 0 RA_ICU_PORT_IRQ10>,
		     <RA_ICU_IRQ_UNSPECIFIED 0 RA_ICU_PORT_IRQ11>,
		     <RA_ICU_IRQ_UNSPECIFIED 0 RA_ICU_PORT_IRQ12>,
		     <RA_ICU_IRQ_UNSPECIFIED 0 RA_ICU_PORT_IRQ13>;

	interrupt-names = "port-irq6", "port-irq7", "port-irq8",
			  "port-irq9", "port-irq10", "port-irq11",
			  "port-irq12" , "port-irq13";

	port-irq6-pins = <0>;
	port-irq7-pins = <1>;
	port-irq8-pins = <2>;
	port-irq9-pins = <4>;
	port-irq10-pins = <5>;
	port-irq11-pins = <6>;
	port-irq12-pins = <8>;
	port-irq13-pins = <9>;
};
